#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define BOTH 3

/ {
  combos {
    compatible = "zmk,combos";
    
    combo_both {
      timeout-ms = <50>;
      key-positions = <37 40>;
      layers = <RAISE LOWER BASE>;
      bindings = <&mo BOTH>; 
    };
  };

  keymap {
    compatible = "zmk,keymap";

    Base_layer {
      bindings = <
        &kp LEFT_GUI &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp ESCAPE &kp BACKSPACE &kp LEFT_SHIFT &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp P &kp SEMICOLON &kp LEFT_CONTROL &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp PERIOD &kp SLASH &kp SINGLE_QUOTE &kp TAB &mo LOWER &kp SPACE &kp RETURN &mo RAISE &kp RIGHT_ALT 
      >;
    };

    Lower_layer {
      bindings = <
        &trans &kp null &kp EXCLAMATION &kp AT_SIGN &kp HASH &kp TILDE &kp MINUS &kp KP_NUMBER_7 &kp KP_NUMBER_8 &kp KP_NUMBER_9 &kp SLASH &kp BACKSPACE &kp LEFT_ALT &kp UNDERSCORE &kp DOLLAR &kp PERCENT &kp CARET &kp EQUAL &kp PLUS &kp KP_NUMBER_4 &kp KP_NUMBER_5 &kp KP_NUMBER_6 &kp LEFT_BRACE &kp RIGHT_BRACE &trans &kp BACKSLASH &kp AMPERSAND &kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp PIPE &kp ASTERISK &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3 &kp LEFT_BRACKET &kp RIGHT_BRACKET &trans &trans &kp RETURN &kp RETURN &trans &kp KP_NUMBER_0 
      >;
    };

    Raise_layer {
      bindings = <
        &trans &kp K_FIND &kp null &kp K_MUTE &kp K_VOLUME_DOWN &kp K_VOLUME_UP &kp C_MEDIA_STEP &kp K_MENU &kp UP &kp C_BRIGHTNESS_DEC &kp C_BRIGHTNESS_INC &kp null &kp LEFT_SHIFT &kp K_STOP &kp null &kp K_UNDO &kp HOME &kp END &kp K_COPY &kp LEFT &kp DOWN &kp RIGHT &kp PG_UP &kp K_LOCK &trans &kp K_PREVIOUS &kp K_NEXT &kp K_PLAY_PAUSE &kp PRINTSCREEN &kp K_CALCULATOR &kp K_CUT &kp K_PASTE &kp K_BACK &kp K_FORWARD &kp PG_DN &kp K_SLEEP &trans &trans &kp SPACE &kp RETURN &trans &kp RIGHT_ALT 
      >;
    };

    both_layer {
      bindings = <
        &none &none &none &none &none &none &none &none &none &none &none &none &none &bt BT_CLR &none &none &none &none &none &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5 &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none 
      >;
    };

  };
};
